@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500);

@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:regular,700);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: url(../img/icons/cursor.png), pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1800px;
  margin: 0 auto;
}

._containerLittle {
  max-width: 1180px;
  margin: 0 auto;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 12px;
  line-height: 14px;
  color: #195557;
  height: 30px;
  padding: 4px 10px;
  border: 1px solid #70908B;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select-arrow.svg") right/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 12px;
  line-height: 14px;
  color: #195557;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  position: relative;
  width: 100%;
  height: 50px;
  display: block;
  font-size: 15px;
  background: #F8F8F8;
  border-radius: 8px;
  padding: 30px 30px;
  margin: 0 0 11px 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #ffffff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: #195557;
  line-height: calc(20 / 16);
  padding: 0 0 5px 0;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2px 9px 0px 0px;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background: #F8F8F8;
  border: 1px solid #70908B;
  border-radius: 2px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}

.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  margin: 17px 22px 0 0;
  background: url("../img/icons/close.svg") center center no-repeat;
}

.popup__content {
  position: relative;
  margin: 5% auto;
  width: 580px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 20px #C2CCCA;
          box-shadow: 4px 4px 20px #C2CCCA;
}

.popup__body {
  padding: 50px;
  width: 100%;
  max-width: 580px;
}

.popup__title {
  font-family: Cormorant Infant;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #195557;
  padding: 0 0 30px 0;
}

.popup__footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.popup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 27px 185px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  border-radius: 40px;
  background: #70908B;
  color: #fff;
  margin: 0 auto 15px auto;
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
}

.popup__btn:hover {
  background: -o-linear-gradient(359.86deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
  background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
}

.popup__info {
  font-size: 10px;
  line-height: 12px;
  color: #195557;
}

.popup__info span {
  text-transform: uppercase;
}

.form__city {
  padding: 0 0 22px 0;
}

.form__select {
  display: block;
}

.form__checkboxses {
  padding: 30px 0 35px 0;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  background: rgba(255, 255, 255, 0);
}

.header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.header__column_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.header__column_contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.header__submenu {
  display: none;
}

.header__basket {
  background: url(../img/icons/basket.svg) top 5px right no-repeat;
  width: 36px;
  height: 40px;
  position: relative;
}

.header__basket span {
  padding: 7px 7px;
  border-radius: 50%;
  background-color: #FFEDCD;
  position: absolute;
  top: -10px;
  right: -5px;
  font-size: 10px;
  font-weight: 700;
  color: #000;
}

.menu__logo {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list li:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.menu__list li:hover .menu__link_catalog::before {
  top: 7px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__link {
  font-family: Cormorant Infant;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #195557;
}

.menu__link:hover {
  border-bottom: 1px solid #195557;
}

.menu__link_catalog {
  position: relative;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.menu__link_catalog::before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-left: 8px solid #195557;
  top: 4px;
  left: -17px;
  -webkit-transition: all .18s ease-in-out;
}

.submenu {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 34%;
  width: 15%;
  text-align: left;
  padding: 10px 0 0 0;
  -webkit-transform: scale(0.9, 0.9);
  -webkit-transition: all .18s ease-in-out;
  z-index: 10;
}

.submenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 170px;
  height: 175px;
  margin: 0 auto;
  background: #FFFEFE;
  -webkit-box-shadow: 4px 4px 20px #C2CCCA;
          box-shadow: 4px 4px 20px #C2CCCA;
  border-radius: 8px;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 0 10px 25px;
}

.icon-menu {
  display: none;
}

.contacts-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-header__item {
  padding: 0 0 0 20px;
}

.contacts-header__phone {
  font-weight: 500;
  font-size: 22px;
  color: #195557;
  text-decoration: none;
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on;
}

.contacts-header__phone_image {
  background: url(../img/icons/callback.svg) no-repeat;
  width: 27px;
  height: 27px;
  position: relative;
  margin: 10px 20px 0 0;
}

.contacts-header__phone_image::after {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  top: -80%;
  right: -80%;
  background: -webkit-gradient(linear, left bottom, left top, from(#B0D3CE), to(#FFEDCE));
  background: -o-linear-gradient(bottom, #B0D3CE, #FFEDCE);
  background: linear-gradient(to top, #B0D3CE, #FFEDCE);
  border-radius: 50%;
  z-index: -1;
}

.contacts-header__label {
  font-size: 14px;
  line-height: 2;
  color: #195557;
  text-decoration: underline;
}

.footer {
  width: 100%;
  background-color: #70908B;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 140px;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.footer__column_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer__column_contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.footer__info {
  font-size: 9px;
  line-height: 131.4%;
  color: #FFFFFF;
  padding: 0 0 20px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  font-family: Cormorant Infant;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.footer__link:hover {
  border-bottom: 1px solid #fff;
}

.contacts-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.contacts-footer__social_instagram {
  width: 40px;
  height: 40px;
  background: url(../img/icons/footer/01.svg) no-repeat;
}

.contacts-footer__social_facebook {
  width: 40px;
  height: 40px;
  background: url(../img/icons/footer/02.svg) no-repeat;
}

.contacts-footer__social_twitter {
  width: 40px;
  height: 40px;
  background: url(../img/icons/footer/03.svg) no-repeat;
}

.contacts-footer__label {
  font-size: 14px;
  line-height: 2;
  color: #fff;
  text-decoration: underline;
}

.contacts-footer__phone {
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  -webkit-font-feature-settings: 'tnum' on, 'lnum' on;
          font-feature-settings: 'tnum' on, 'lnum' on;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  width: 100%;
}

.main-screen__bg img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: auto;
     object-fit: auto;
  z-index: -2;
}

.main-screen__bg_mobile {
  display: none;
}

.main-screen__bg_mobile img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: auto;
     object-fit: auto;
  z-index: -2;
}

.main-screen__title {
  position: absolute;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 100%;
  top: 290px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #70908B;
}

.main-screen__subtitle {
  font-family: Cormorant Infant;
  font-size: 50px;
  text-transform: uppercase;
  padding: 19px 0 18px 0;
}

.main-screen__text {
  font-size: 14px;
  padding: 0 0 35px 0;
}

.main-screen__button {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border-radius: 50px;
  background-color: #70908B;
  padding: 25px 115px;
  z-index: 2;
}

.main-screen__button:hover {
  background: -o-linear-gradient(359.86deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
  background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  color: #195557;
}

.points {
  position: -webkit-sticky;
  position: sticky;
  margin: -47% 0 0 0;
  z-index: -1;
}

.points__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.points__bg_left {
  position: relative;
  top: -15%;
}

.points__bg_right {
  position: relative;
  top: 20%;
}

.points__content {
  margin: -27% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.points__card {
  width: 180px;
  margin: 0 70px;
}

.points__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  margin: 80px 0px 30px 0px;
}

.points__icon_01 {
  background-color: #FFEDCD;
  margin-top: 100px;
}

.points__icon_02 {
  background-color: #E2F0DF;
}

.points__icon_03 {
  background-color: #70908B;
  margin-top: 100px;
}

.points__title {
  font-family: Cormorant Infant;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #195557;
  text-transform: uppercase;
  padding: 0 0 8px 0;
}

.points__text {
  font-size: 14px;
  line-height: 22px;
  color: #195557;
  text-align: center;
}

.shop {
  padding: 0 0 140px 0;
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shop__card {
  position: relative;
  width: 570px;
  height: 397px;
  margin: 0 0 34px 0;
  border-radius: 5%;
}

.shop__card:after {
  content: '-50 %';
  position: absolute;
  text-align: center;
  top: -2%;
  left: 11%;
  width: 68px;
  height: 38px;
  background-color: #70908B;
  font-weight: bold;
  font-size: 20px;
  line-height: 38px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

.shop__card:before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0;
  border-bottom: 80px solid #fff;
  border-left: 80px solid transparent;
}

.shop__card:last-child::after {
  display: none;
}

._no-webp .shop__card_01{
  background: url(../img/shop/01.png) bottom -60% right -50% no-repeat, #FFEDCD; }

._no-webp .shop__card_02{
  background: url(../img/shop/01.png) bottom -60% right -50% no-repeat, #E2F0DF; }

._no-webp .shop__card_03{
  background: url(../img/shop/02.png) top 60% right 15% no-repeat, #EAEEEF; }

.shop__info {
  position: absolute;
  top: 19px;
  right: 28px;
}

.shop__info:hover + .message {
  opacity: 1;
  -webkit-transform: scale(1, 1);
}

.shop__description {
  width: 240px;
  padding: 54px 0 0 59px;
}

.shop__title {
  font-family: Cormorant Infant;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #195557;
  padding: 0 0 17px 0;
}

.shop__text {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding: 0 0 26px 0;
}

.shop__price {
  position: relative;
  font-family: Cormorant Infant;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #195557;
  padding: 0 0 45px 0;
}

.shop__price_old {
  position: absolute;
  top: -20%;
  left: 0;
  font-family: Cormorant Infant;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #C2CCCA;
}

.shop__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.message {
  position: absolute;
  top: 80px;
  right: -41.5%;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -webkit-transition: all .18s ease-in-out;
  z-index: 10;
}

.message__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 68px;
  margin: 0 auto;
  background: #195557;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.message__body::after {
  content: '';
  position: absolute;
  left: 47%;
  top: -45%;
  border: 20px solid transparent;
  border-bottom: 15px solid #195557;
}

.message__vaccine {
  width: 26px;
  height: 26px;
  background: url(../img/icons/vaccine-white.svg) no-repeat;
  padding: 0 20px 0 30px;
}

.message__like {
  width: 22px;
  height: 22px;
  background: url(../img/icons/like-white.svg) 0 90% no-repeat;
  padding: 0 30px 0 25px;
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

@media (max-width: 1800px) {
  ._container {
    max-width: 1600px;
    margin: 0 auto;
  }

  ._containerLittle {
    max-width: 1180px;
    margin: 0 auto;
  }

  .submenu {
    left: 34.5%;
  }
}

@media (max-width: 1600px) {
  ._container {
    max-width: 1450px;
  }

  ._containerLittle {
    max-width: 1180px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .main-screen__title {
    top: 230px;
  }

  .points__bg_left {
    top: -20%;
  }

  .points__bg_right {
    top: 10%;
  }

  .points__content {
    margin: -33% 0 0 0;
  }

  .points__card {
    margin: 0 40px;
  }

  .points__icon {
    width: 142px;
    height: 142px;
  }

  .shop {
    margin: -50px 0 0 0;
  }
}

@media (max-width: 1440px) {
  ._container {
    max-width: calc(100% - 50px);
  }

  ._containerLittle {
    max-width: 1180px;
  }

  .main-screen__title {
    top: 220px;
  }

  .points__bg_left {
    width: 80%;
    height: auto;
    top: -15%;
  }

  .points__bg_right {
    width: 90%;
    height: auto;
    right: -10%;
  }

  .points__content {
    margin: -28% 0 0 0;
  }

  .points__card {
    margin: 0 30px;
  }

  .points__icon {
    width: 122px;
    height: 122px;
  }

  .shop {
    margin: 0 0 0 0;
  }

  .message__body {
    width: 200px;
    height: 58px;
  }

  .message__body::after {
    top: -50%;
  }
}

@media (max-width: 1370px) {
  ._container {
    max-width: calc(100% - 30px);
  }

  ._containerLittle {
    max-width: calc(100% - 30px);
  }

  .contacts-header__phone {
    font-size: 16px;
  }

  .main-screen__title {
    top: 200px;
  }

  .main-screen__title img {
    width: 30%;
    height: auto;
  }

  .main-screen__subtitle {
    font-size: 40px;
  }

  .main-screen__text {
    width: 500px;
    margin: 0 auto;
  }

  .points__bg_left {
    top: -20%;
  }

  .points__bg_right {
    top: 5%;
  }

  .points__content {
    margin: -30% 0 0 0;
  }

  .points__card {
    margin: 0 20px;
  }
}

@media (max-width: 1200px) {
  ._container {
    max-width: calc(100% - 25px);
  }

  ._containerLittle {
    max-width: calc(100% - 25px);
  }

  .main-screen__title {
    top: 260px;
  }

  .main-screen__button {
    padding: 25px 95px;
  }

  .points__bg_left {
    width: 70%;
    height: auto;
  }

  .points__bg_right {
    width: 80%;
    height: auto;
    top: 8%;
    right: -20%;
  }

  .points__content {
    margin: -20% 0 0 0;
  }

  .points__card {
    margin: 0 50px;
  }

  .shop {
    padding: 150px 0 140px 0;
  }

  .message__body {
    width: 180px;
    height: 48px;
    font-size: 12px;
  }

  .message__body::after {
    left: 46.7%;
    top: -60%;
  }
}

@media (max-width: 1024px) {
  ._container {
    max-width: calc(100% - 20px);
  }

  ._containerLittle {
    max-width: calc(100% - 20px);
  }

  .header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .header__column_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
  }

  .header__column_contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 23%;
            flex: 0 1 23%;
  }

  .submenu {
    left: 18%;
  }

  .contacts-header__phone_image {
    width: 30px;
    height: 30px;
    margin: 10px 20px 0 0;
  }

  .contacts-header__phone_image::after {
    width: 59px;
    height: 59px;
    top: -60%;
    right: -45%;
  }

  .contacts-footer__phone {
    font-size: 18px;
  }

  .main-screen__title {
    top: 210px;
  }

  .main-screen__title img {
    width: 25%;
    height: auto;
  }

  .main-screen__subtitle {
    font-size: 36px;
  }

  .points__bg_left {
    width: 65%;
    height: auto;
    top: -20%;
  }

  .shop {
    padding: 180px 0 140px 0;
  }

  .shop__card:after {
    width: 60px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
  }

  .shop__card {
    width: 456px;
    height: 323px;
  }

  ._no-webp .shop__card_01{
    background: url(../img/shop/01.png) bottom -50% right -80%/80% auto no-repeat, #FFEDCD; }

  ._no-webp .shop__card_02{
    background: url(../img/shop/01.png) bottom -50% right -80%/80% auto no-repeat, #E2F0DF; }

  ._no-webp .shop__card_03{
    background: url(../img/shop/02.png) bottom 50% right 15%/40% auto no-repeat, #EAEEEF; }

  .shop__info {
    right: 19px;
  }

  .shop__description {
    width: 220px;
    padding: 34px 0 0 39px;
  }

  .shop__title {
    font-size: 36px;
    line-height: 36px;
  }

  .shop__price {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: calc(100% - 5px);
  }

  ._containerLittle {
    max-width: calc(100% - 5px);
  }

  .header__content {
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100px;
  }

  .header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .header__column_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 20% 0 0;
  }

  .header__column_contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 5% 0 0;
  }

  .header__basket {
    margin: 0 5% 0 0;
  }

  .menu__body {
    opacity: 0;
    position: fixed;
    height: auto;
    width: 95%;
    visibility: hidden;
    top: 3%;
    left: -100px;
    overflow: auto;
    z-index: 2;
    padding: 120px 20px 30px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #FFFFFF;
    -webkit-box-shadow: 4px 4px 20px #E3E3E3;
            box-shadow: 4px 4px 20px #E3E3E3;
    border-radius: 0px 10px 10px 0px;
  }

  .menu__body._active {
    opacity: 1;
    z-index: 4;
    visibility: visible;
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
  }

  .menu__body.lock {
    overflow: hidden;
  }

  .menu__logo {
    display: inline;
    position: absolute;
    top: 5%;
    left: 45%;
    width: 100px;
    height: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding: 0 0 0 40px;
  }

  .menu__link {
    display: block;
    font-size: 18px;
    padding: 10px 0;
  }

  .menu__link_catalog {
    text-shadow: none;
  }

  .menu__link_catalog::before {
    display: none;
  }

  .submenu {
    top: 18.5%;
    left: 20%;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 45%;
    left: 7%;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #195557;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .contacts-header__item {
    padding: 140px 0 45px 40px;
  }

  .contacts-header__item {
    padding: 140px 0 45px 40px;
  }

  .contacts-header__phone {
    font-size: 22px;
  }

  .contacts-header__phone_image::after {
    width: 59px;
    height: 59px;
    top: -60%;
    right: -40%;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding: 35px 20px 0 20px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer__column_logo {
    padding: 0 0 60px 0;
  }

  .footer__column_list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__info {
    font-size: 11px;
    padding: 35px 20px;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 210px;
  }

  .footer__link {
    padding: 0 0 30px 0;
  }

  .contacts-footer__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .contacts-footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-height: 140px;
    padding: 10px 0 0 0;
  }

  .contacts-footer__social a {
    padding: 15px 0;
  }

  .contacts-footer__label {
    font-size: 14px;
  }

  .contacts-footer__phone {
    font-size: 22px;
  }

  .main-screen__bg {
    display: none;
  }

  .main-screen__bg_mobile {
    display: block;
  }

  .main-screen__bg_mobile img {
    top: -450px;
  }

  .main-screen__title {
    top: 200px;
  }

  .main-screen__title img {
    width: 50%;
    height: auto;
  }

  .main-screen__subtitle {
    font-size: 30px;
    padding: 15px 0;
  }

  .main-screen__text {
    font-size: 12px;
    line-height: 18px;
    width: 400px;
    margin: 0 auto;
  }

  .points__bg_left {
    width: 60%;
    height: auto;
    top: -110%;
  }

  .points__bg_right {
    width: 70%;
    height: auto;
    top: -85%;
    right: -30%;
  }

  .points__content {
    margin: -50% 0 0 0;
  }

  .points__card {
    margin: 0 20px;
  }

  .points__title {
    font-size: 14px;
  }

  .points__text {
    font-size: 12px;
    text-align: left;
  }

  .shop {
    padding: 20px 0 100px 0;
  }

  .shop__card:after {
    width: 68px;
    height: 38px;
    font-size: 20px;
    line-height: 38px;
  }

  .shop__card {
    width: 570px;
    height: 397px;
  }

  .shop__description {
    width: 240px;
    padding: 54px 0 0 59px;
  }

  .shop__text {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 480px) {
  ._containerLittle {
    max-width: calc(100%);
    margin: 0 20px;
  }

  .popup__content {
    width: 90%;
  }

  .popup__body {
    padding: 20px;
  }

  .popup__btn {
    padding: 27px 100px;
  }

  .header__column_logo {
    margin: 0 10% 0 0;
  }

  .header__column_logo img {
    width: 100px;
    height: auto;
  }

  .header__basket span {
    top: -5px;
    padding: 5px 5px;
  }

  .header__basket {
    background: url(../img/icons/basket.svg) top 5px right/72.5% auto no-repeat;
    width: 32px;
    height: 26px;
  }

  .menu__logo {
    top: 4%;
    width: 80px;
    height: auto;
  }

  .submenu {
    left: 32%;
  }

  .contacts-header__phone_image {
    background: url(../img/icons/callback.svg) top 5px right 2px/56% auto no-repeat;
    margin: 10px 10px 0 0;
  }

  .contacts-header__phone_image::after {
    width: 39px;
    height: 39px;
    top: -20%;
    right: -30%;
  }

  .main-screen__bg_mobile img {
    top: -50px;
  }

  .main-screen__title {
    text-align: left;
    top: 150px;
    padding: 0 0 0 20px;
  }

  .main-screen__text {
    width: 270px;
    margin: 0 0;
    padding: 0 0 15px 0;
  }

  .points__bg_left {
    display: none;
  }

  .points__bg_right {
    width: 90%;
    height: auto;
    top: -15%;
    right: -10%;
  }

  .points__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin: -50% 0 0 0;
  }

  .points__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }

  .points__card:first-child {
    margin: 0 40% 0 0;
  }

  .points__icon {
    margin: 20px 0px 30px 0px;
  }

  .points__icon {
    margin: 20px 0px 30px 0px;
  }

  .points__icon_03 {
    margin-top: 25px;
  }

  .points__title {
    width: 100px;
  }

  .shop {
    padding: 320px 0 100px 0;
  }

  .shop {
    padding: 400px 0 100px 0;
  }

  .shop__card:after {
    width: 55px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
  }

  ._no-webp .shop__card_01{
    background: url(../img/shop/01.png) bottom right -80%/80% auto no-repeat, #FFEDCD; }

  ._no-webp .shop__card_02{
    background: url(../img/shop/01.png) bottom right -80%/80% auto no-repeat, #E2F0DF; }

  .shop__info {
    display: none;
  }

  .shop__description {
    width: 200px;
    padding: 54px 0 0 30px;
  }

  .shop__title {
    font-size: 32px;
    line-height: 32px;
  }

  .shop__text {
    font-size: 12px;
    padding: 0 0 60px 0;
  }

  .message {
    top: 0;
    right: -25%;
    opacity: 1;
  }

  .message__body {
    width: 140px;
    background: none;
    font-size: 10px;
    color: #195557;
  }

  .message__body::after {
    display: none;
  }

  .message__vaccine {
    background: url(../img/icons/vaccine-min.svg) top 5px left 15px no-repeat;
  }

  .message__like {
    background: url(../img/icons/like-min.svg) top 5px left 10px no-repeat;
  }
}

@media (max-width: 320px) {
  .header__content {
    height: 75px;
  }

  .header__column_logo {
    margin: 0 10% 0 0;
  }

  .header__column_logo img {
    width: 60px;
    height: auto;
  }

  .menu__logo {
    top: 3%;
    width: 56px;
    height: auto;
  }

  .submenu {
    left: 48%;
  }

  .icon-menu {
    top: 40%;
    width: 25px;
    height: 14px;
  }

  .contacts-header__phone_image {
    background: url(../img/icons/callback.svg) top 5px right 3px/45% auto no-repeat;
  }

  .contacts-header__phone_image::after {
    width: 35px;
    height: 35px;
    top: -20%;
    right: -25%;
  }

  .main-screen__bg_mobile img {
    top: 0px;
  }

  .main-screen__title {
    top: 80px;
  }

  .main-screen__subtitle {
    font-size: 24px;
  }

  .main-screen__text {
    padding: 0 0 5px 0;
  }

  .points__bg_right {
    top: 20%;
  }

  .points__content {
    margin: -50% 0 0 0;
  }

  .points__card:first-child {
    margin: 0 45% 0 0;
  }

  .points__icon {
    width: 92px;
    height: 92px;
    margin: 20px 0px 20px 0px;
  }

  .points__icon img {
    width: 65%;
    height: auto;
    margin: 0 0 0 15%;
  }

  .points__icon_03 {
    margin-top: 24px;
  }

  ._no-webp .shop__card_01{
    background: url(../img/shop/01.png) bottom 20% right -280%/90% auto no-repeat, #FFEDCD; }

  ._no-webp .shop__card_02{
    background: url(../img/shop/01.png) bottom 20% right -280%/90% auto no-repeat, #E2F0DF; }

  ._no-webp .shop__card_03{
    background: url(../img/shop/02.png) bottom 50% right -10%/50% auto no-repeat, #EAEEEF; }

  .shop__description {
    width: 145px;
    padding: 54px 0 0 30px;
  }

  .shop__title {
    font-size: 30px;
    line-height: 30px;
  }

  .shop__text {
    font-size: 11px;
    padding: 0 0 50px 0;
  }
}

._webp .shop__card_01{ background: url(../img/shop/01.webp) bottom -60% right -50% no-repeat, #FFEDCD; }

._webp .shop__card_02{ background: url(../img/shop/01.webp) bottom -60% right -50% no-repeat, #E2F0DF; }

._webp .shop__card_03{ background: url(../img/shop/02.webp) top 60% right 15% no-repeat, #EAEEEF; }

@media (max-width: 1024px){

  ._webp .shop__card_01{ background: url(../img/shop/01.webp) bottom -50% right -80%/80% auto no-repeat, #FFEDCD; }
}

@media (max-width: 1024px){

  ._webp .shop__card_02{ background: url(../img/shop/01.webp) bottom -50% right -80%/80% auto no-repeat, #E2F0DF; }
}

@media (max-width: 1024px){

  ._webp .shop__card_03{ background: url(../img/shop/02.webp) bottom 50% right 15%/40% auto no-repeat, #EAEEEF; }
}

@media (max-width: 480px){

  ._webp .shop__card_01{ background: url(../img/shop/01.webp) bottom right -80%/80% auto no-repeat, #FFEDCD; }
}

@media (max-width: 480px){

  ._webp .shop__card_02{ background: url(../img/shop/01.webp) bottom right -80%/80% auto no-repeat, #E2F0DF; }
}

@media (max-width: 320px){

  ._webp .shop__card_01{ background: url(../img/shop/01.webp) bottom 20% right -280%/90% auto no-repeat, #FFEDCD; }
}

@media (max-width: 320px){

  ._webp .shop__card_02{ background: url(../img/shop/01.webp) bottom 20% right -280%/90% auto no-repeat, #E2F0DF; }
}

@media (max-width: 320px){

  ._webp .shop__card_03{ background: url(../img/shop/02.webp) bottom 50% right -10%/50% auto no-repeat, #EAEEEF; }
}