@import "mixins";

@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:regular,700);
@import "fonts";

$fontFamily: "Raleway";

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1800;
$maxWidthContainerLittle: 1180;
$md1: 1800;
$md2: 1600;
$md3: 1440;
$md4: 1370;
$md5: 1200;
$md6: 1024;
$md7: 768;
$md8: 480;
$md9: 320;

@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 1600px;
		margin: 0 auto;
	}
	@media (max-width: $md2+px) {
		max-width: 1450px;
	}
	@media (max-width: $md3+px) {
		max-width: calc(100% - 50px);
	}
	@media (max-width: $md4+px) {
		max-width: calc(100% - 30px);
	}
	@media (max-width: $md5+px) {
		max-width: calc(100% - 25px);
	}
	@media (max-width: $md6+px) {
		max-width: calc(100% - 20px);
	}
	@media (max-width: $md7+px) {
		max-width: calc(100% - 5px);
	}
}
._containerLittle {
	max-width: $maxWidthContainerLittle + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 1180px;
		margin: 0 auto;
	}
	@media (max-width: $md2+px) {
		max-width: 1180px;
	}
	@media (max-width: $md3+px) {
		max-width: 1180px;
	}
	@media (max-width: $md4+px) {
		max-width: calc(100% - 30px);
	}
	@media (max-width: $md5+px) {
		max-width: calc(100% - 25px);
	}
	@media (max-width: $md6+px) {
		max-width: calc(100% - 20px);
	}
	@media (max-width: $md7+px) {
		max-width: calc(100% - 5px);
	}
	@media (max-width: $md8+px) {
		max-width: calc(100%);
		margin: 0 20px;
	}
}

@import "forms";

@import "popup";
@import "header";
@import "footer";

//PAGE
.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

//MAIN-SCREEN
.main-screen {
	flex: 1 0 100%;
	position: relative;
	width: 100%;
	&__bg {
		img {
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: auto;
			z-index: -2;
		}
		@media (max-width: $md7+px) {
			display: none;
		}
		&_mobile {
			display: none;
			img {
				position: relative;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: auto;
				z-index: -2;
			}
			@media (max-width: $md7+px) {
				display: block;
				img {
					top: -450px;
				}
			}
			@media (max-width: $md8+px) {
				img {
					top: -50px;
				}
			}
			@media (max-width: $md9+px) {
				img {
					top: 0px;
				}
			}
		}
	}
	&__title {
		position: absolute;
		flex-wrap: nowrap;
		min-width: 100%;
		top: 290px;
		align-items: center;
		text-align: center;
  		justify-content: center;
		color: #70908B;
		@media (max-width: $md2+px) {
			top: 230px;
		}
		@media (max-width: $md3+px) {
			top: 220px;
		}
		@media (max-width: $md4+px) {
			img {
				width: 30%;
				height: auto;
			}
			top: 200px;
		}
		@media (max-width: $md5+px) {
			top: 260px;
		}
		@media (max-width: $md6+px) {
			img {
				width: 25%;
				height: auto;
			}
			top: 210px;
		}
		@media (max-width: $md7+px) {
			img {
				width: 50%;
				height: auto;
			}
			top: 200px;
		}
		@media (max-width: $md8+px) {
			text-align: left;
			top: 150px;
			padding: 0 0 0 20px;
		}
		@media (max-width: $md9+px) {
			top: 80px;
		}
	}
	&__subtitle {
		font-family: Cormorant Infant;
		font-size: 50px;
		text-transform: uppercase;
		padding: 19px 0 18px 0;
		@media (max-width: $md4+px) {
			font-size: 40px;
		}
		@media (max-width: $md6+px) {
			font-size: 36px;
		}
		@media (max-width: $md7+px) {
			font-size: 30px;
			padding: 15px 0;
		}
		@media (max-width: $md9+px) {
			font-size: 24px;
		}
	}
	&__text {
		font-size: 14px;
		padding: 0 0 35px 0;
		@media (max-width: $md4+px) {
			width: 500px;
			margin: 0 auto;
		}
		@media (max-width: $md7+px) {
			font-size: 12px;
			line-height: 18px;
			width: 400px;
			margin: 0 auto;
		}
		@media (max-width: $md8+px) {
			width: 270px;
			margin: 0 0;
			padding: 0 0 15px 0;
		}
		@media (max-width: $md9+px) {
			padding: 0 0 5px 0;
		}
	}
	&__button {
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		border-radius: 50px;
		background-color: #70908B;
		padding: 25px 115px;
		z-index: 2;
		@media (max-width: $md5+px) {
			padding: 25px 95px;
		}
		&:hover {
			background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
			box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
			color: #195557;
		}
	}
}

//POINTS
.points {
	position: sticky;
	margin: -47% 0 0 0;
	z-index: -1;
	&__bg {
		display: flex;
		justify-content: space-between;
		width: 100%;
		&_left {
			position: relative;
			top: -15%;
			@media (max-width: $md2+px) {
				top: -20%;
			}
			@media (max-width: $md3+px) {
				width: 80%;
				height: auto;
				top: -15%;
			}
			@media (max-width: $md4+px) {
				top: -20%;
			}
			@media (max-width: $md5+px) {
				width: 70%;
				height: auto; 
			}
			@media (max-width: $md6+px) {
				width: 65%;
				height: auto;
				top: -20%;
			}
			@media (max-width: $md7+px) {
				width: 60%;
				height: auto;
				top: -110%;
			}
			@media (max-width: $md8+px) {
				display: none;
			}
		}
		&_right {
			position: relative;
			top: 20%;
			@media (max-width: $md2+px) {
				top: 10%;
			}
			@media (max-width: $md3+px) {
				width: 90%;
				height: auto;
				right: -10%;
			}
			@media (max-width: $md4+px) {
				top: 5%;
			}
			@media (max-width: $md5+px) {
				width: 80%;
				height: auto;
				top: 8%;
				right: -20%;
			}
			@media (max-width: $md7+px) {
				width: 70%;
				height: auto;
				top: -85%;
				right: -30%;
			}
			@media (max-width: $md8+px) {
				width: 90%;
				height: auto;
				top: -15%;
				right: -10%;
			}
			@media (max-width: $md9+px) {
				top: 20%;
			}
		}
	}
	&__content {
		margin: -27% 0 0 0;
		display: flex;
		min-width: 100%;
		align-items: center;
		text-align: center;
		justify-content: center;
		position: absolute;
		@media (max-width: $md2+px) {
			margin: -33% 0 0 0;
		}
		@media (max-width: $md3+px) {
			margin: -28% 0 0 0;
		}
		@media (max-width: $md4+px) {
			margin: -30% 0 0 0;
		}
		@media (max-width: $md5+px) {
			margin: -20% 0 0 0;
		}
		@media (max-width: $md7+px) {
			margin: -50% 0 0 0;
		}
		@media (max-width: $md8+px) {
			flex-wrap: wrap;
			align-items: flex-start;
			text-align: left;
			margin: -50% 0 0 0;
		}
		@media (max-width: $md9+px) {
			margin: -50% 0 0 0;
		}
	}
	&__card {
		width: 180px;
		margin: 0 70px;
		@media (max-width: $md2+px) {
			margin: 0 40px;
		}
		@media (max-width: $md3+px) {
			margin: 0 30px;
		}
		@media (max-width: $md4+px) {
			margin: 0 20px;
		}
		@media (max-width: $md5+px) {
			margin: 0 50px;
		}
		@media (max-width: $md7+px) {
			margin: 0 20px;
		}
		@media (max-width: $md8+px) {
			flex: 0 0 35%;
			&:first-child {
				margin: 0 40% 0 0;
			}
		}
		@media (max-width: $md9+px) {
			&:first-child {
				margin: 0 45% 0 0;
			}
		}
	}
	&__icon {
		display: inline-flex;
		justify-content:center;
		align-items: center;
		width: 152px;
		height: 152px;
		border-radius: 50%;
		box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
		margin: 80px 0px 30px 0px;
		@media (max-width: $md2+px) {
			width: 142px;
			height: 142px;
		}
		@media (max-width: $md3+px) {
			width: 122px;
			height: 122px;
		}
		@media (max-width: $md8+px) {
			margin: 20px 0px 30px 0px;
		}
		@media (max-width: $md8+px) {
			margin: 20px 0px 30px 0px;
		}
		@media (max-width: $md9+px) {
			width: 92px;
			height: 92px;
			margin: 20px 0px 20px 0px;
			img {
				width: 65%;
				height: auto;
				margin: 0 0 0 15%;
			}
		}
		&_01 {
			background-color: #FFEDCD;
			margin-top: 100px;
		}
		&_02 {
			background-color: #E2F0DF;
		}
		&_03 {
			background-color: #70908B;
			margin-top: 100px;
			@media (max-width: $md8+px) {
				margin-top: 25px;
			}
			@media (max-width: $md9+px) {
				margin-top: 24px;
			}
		}
	}
	&__title {
		font-family: Cormorant Infant;
		font-weight: 700;
		font-size: 16px;
		line-height: 18px;
		color: #195557;
		text-transform: uppercase;
		padding: 0 0 8px 0;
		@media (max-width: $md7+px) {
			font-size: 14px;
		}
		@media (max-width: $md8+px) {
			width: 100px;
		}
	}
	&__text {
		font-size: 14px;
		line-height: 22px;
		color: #195557;
		text-align: center;
		@media (max-width: $md7+px) {
			font-size: 12px;
			text-align: left;
		}
	}
}

//SHOP

.shop {
	padding: 0 0 140px 0;
	@media (max-width: $md2+px) {
		margin: -50px 0 0 0;
	}
	@media (max-width: $md3+px) {
		margin: 0 0 0 0;
	}
	@media (max-width: $md5+px) {
		padding: 150px 0 140px 0;
	}
	@media (max-width: $md6+px) {
		padding: 180px 0 140px 0;
	}
	@media (max-width: $md7+px) {
		padding: 20px 0 100px 0;
	}
	@media (max-width: $md8+px) {
		padding: 320px 0 100px 0;
	}
	@media (max-width: $md8+px) {
		padding: 400px 0 100px 0;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	&__card {
		position: relative;
		width: 570px;
		height: 397px;
		margin: 0 0 34px 0;
		border-radius: 5%;
		&:after {
			content: '-50 %';
			position: absolute;
			text-align: center;
			top: -2%;
			left: 11%;
			width: 68px;
			height: 38px;
			background-color: #70908B;
			font-weight: bold;
			font-size: 20px;
			line-height: 38px;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: #FFFFFF;
			@media (max-width: $md6+px) { 
				width: 60px;
				height: 30px;
				font-size: 16px;
				line-height: 30px;
			}
			@media (max-width: $md7+px) { 
				width: 68px;
				height: 38px;
				font-size: 20px;
				line-height: 38px;
			}
			@media (max-width: $md8+px) { 
				width: 55px;
				height: 26px;
				font-size: 14px;
				line-height: 26px;
			}
		}
		&:before {
			content: '';
			bottom: 0;
			right: 0;
			position: absolute;
			width: 0; 
			border-bottom: 80px solid #fff;
			border-left: 80px solid transparent;
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
		@media (max-width: $md6+px) {
			width: 456px;
			height: 323px;
		}
		@media (max-width: $md7+px) {
			width: 570px;
			height: 397px;
		}
		&_01 {
			background: url(../img/shop/01.png) bottom -60% right -50% no-repeat, #FFEDCD;
			@media (max-width: $md6+px) {
				background: url(../img/shop/01.png) bottom -50% right -80% / 80% auto no-repeat, #FFEDCD;
			}
			@media (max-width: $md8+px) {
				background: url(../img/shop/01.png) bottom right -80% / 80% auto no-repeat, #FFEDCD;
			}
			@media (max-width: $md9+px) {
				background: url(../img/shop/01.png) bottom 20% right -280% / 90% auto no-repeat, #FFEDCD;
			}
		}
		&_02 {
			background: url(../img/shop/01.png) bottom -60% right -50% no-repeat, #E2F0DF;
			@media (max-width: $md6+px) {
				background: url(../img/shop/01.png) bottom -50% right -80% / 80% auto no-repeat, #E2F0DF;
			}
			@media (max-width: $md8+px) {
				background: url(../img/shop/01.png) bottom right -80% / 80% auto no-repeat, #E2F0DF;
			}
			@media (max-width: $md9+px) {
				background: url(../img/shop/01.png) bottom 20% right -280% / 90% auto no-repeat, #E2F0DF;
			}
		}
		&_03 {
			background: url(../img/shop/02.png) top 60% right 15% no-repeat, #EAEEEF;
			@media (max-width: $md6+px) {
				background: url(../img/shop/02.png) bottom 50% right 15% / 40% auto no-repeat, #EAEEEF;
			}
			@media (max-width: $md9+px) {
				background: url(../img/shop/02.png) bottom 50% right -10% / 50% auto no-repeat, #EAEEEF;
			}
		}
	}
	&__info {
		position: absolute;
		top: 19px;
		right: 28px;
		@media (max-width: $md6+px) {
			right: 19px;
		}
		&:hover + .message {
			opacity: 1;
			-webkit-transform: scale(1, 1);
		}
		@media (max-width: $md8+px) {
			display: none;
		}
	}
	&__message {
	}
	&__description {
		width: 240px;
		padding: 54px 0 0 59px;
		@media (max-width: $md6+px) {
			width: 220px;
			padding: 34px 0 0 39px;
		}
		@media (max-width: $md7+px) {
			width: 240px;
			padding: 54px 0 0 59px;
		}
		@media (max-width: $md8+px) {
			width: 200px;
			padding: 54px 0 0 30px;
		}
		@media (max-width: $md9+px) {
			width: 145px;
			padding: 54px 0 0 30px;
		}
	}
	&__title {
		font-family: Cormorant Infant;
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		color: #195557;
		padding: 0 0 17px 0;
		@media (max-width: $md6+px) {
			font-size: 36px;
			line-height: 36px;
		}
		@media (max-width: $md8+px) {
			font-size: 32px;
			line-height: 32px;
		}
		@media (max-width: $md9+px) {
			font-size: 30px;
			line-height: 30px;
		}
	}
	&__text {
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		padding: 0 0 26px 0;
		@media (max-width: $md7+px) {
			padding: 0 0 60px 0;
		}
		@media (max-width: $md8+px) {
			font-size: 12px;
			padding: 0 0 60px 0;
		}
		@media (max-width: $md9+px) {
			font-size: 11px;
			padding: 0 0 50px 0;
		}
	}
	&__price {
		position: relative;
		font-family: Cormorant Infant;
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		color: #195557;
		padding: 0 0 45px 0;
		@media (max-width: $md6+px) {
			font-size: 36px;
		}
		&_old {
			position: absolute;
			top: -20%;
			left: 0;
			font-family: Cormorant Infant;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			text-decoration-line: line-through;
			color: #C2CCCA;
		}
	}
	&__button {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40px;
		height: 40px;
	}
}
.message {
	position: absolute;
    top: 80px;
    right: -41.5%;
    width: 100%;
    text-align: center;
    opacity: 0;
	-webkit-transform: scale(.9, .9);
    -webkit-transition: all .18s ease-in-out;
	z-index: 10;
	@media (max-width: $md8+px) {
		top: 0;
    	right: -25%;
		opacity: 1;
	}
	&__shop {
	}
	&__body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 220px;
	height: 68px;
    margin: 0 auto;
    background: #195557;
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;
	font-feature-settings: 'pnum' on, 'lnum' on;
	@media (max-width: $md3+px) {
		width: 200px;
		height: 58px;
	}
	@media (max-width: $md5+px) {
		width: 180px;
		height: 48px;
		font-size: 12px;
	}
	@media (max-width: $md8+px) {
		width: 140px;
		background: none;
		font-size: 10px;
		color: #195557;
	}
	&::after {
		content: ''; 
		position: absolute;
		left: 47%; 
		top: -45%;
		border: 20px solid transparent; 
		border-bottom: 15px solid #195557;
		@media (max-width: $md3+px) {
			top: -50%;
		}
		@media (max-width: $md5+px) {
			left: 46.7%;
			top: -60%;
		}
		@media (max-width: $md8+px) {
			display: none;
		}
	}
	}
	&__vaccine {
		width: 26px;
		height: 26px;
		background: url(../img/icons/vaccine-white.svg) no-repeat;
		padding: 0 20px 0 30px;
		@media (max-width: $md8+px) {
			background: url(../img/icons/vaccine-min.svg) top 5px left 15px no-repeat;
		}
	}
	&__like {
		width: 22px;
		height: 22px;
		background: url(../img/icons/like-white.svg) 0 90% no-repeat;
		padding: 0 30px 0 25px;
		@media (max-width: $md8+px) {
			background: url(../img/icons/like-min.svg) top 5px left 10px no-repeat;
		}
	}
}